@require '../../../../assets/stylus/vars';

.enviar-notificacao {
    width: 254px;
    max-width: 95%;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fonteOxygen;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    cursor: pointer;
    transition: background-color .2s ease;
    +media1600() {
        margin-top: 15px;
    }
    &:hover {
        background-color: #FAFAFA;
    }
    img {
        margin-right: 9px;
    }
}

.container-popup{
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    z-index: 100;
    align-items: center;
    justify-content: center;
    .popup-enviar-notificacao {
        max-width: 95%;
        width: 659px;
        height: auto;
        min-height: 404px;
        max-height: 95%;
        border-radius: 8px;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
        border: solid 1px #e5e5e5;
        background-color: #ffffff;
        position: absolute;
        z-index: 101;
        opacity: 1;
        padding: 44px 56px;
        +media768() {
            overflow-y: scroll;
        }
        +media480() {
            padding: 40px 20px;
        }
        .popup-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 43px;
            h3 {
                font-family: $fonteUnna;
                font-size: 28px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.18;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
            }
            button {
                width: 31px;
                height: 31px;
                border-radius: 50%;
                border: none;
                background: #000000;
                font-size: 16px;
                color: #ffffff;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 28px;
            }
        }
        .popup-body {
            width: 100%;
            display: flex;
            flex-flow: wrap column;
            margin-bottom: 31px;
            .titulo {
                width: 100%;
                height: 60px;
                border-radius: 8px;
                border: solid 2.5px #e5e5e5;
                background-color: #ffffff;
                font-family: $fonteOxygen;
                font-size: 17px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                padding: 17px 29px;
                transition: border-color .3s ease;
                &::placeholder {
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    font-stretch: inherit;
                    font-style: inherit;
                    line-height: inherit;
                    letter-spacing: inherit;
                    text-align: inherit;
                    color: #9d9d9d;
                }
                &:focus {
                    border-color: #000000; 
                }
            }
            .mensagem {
                width: 100%;
                height: 160px;
                margin-top 30px;
                border-radius: 8px;
                border: solid 2.5px #e5e5e5;
                background-color: #ffffff;
                font-family: $fonteOxygen;
                font-size: 17px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.71;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                padding: 17px 29px;
                transition: border-color .3s ease;
                &::placeholder {
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    font-stretch: inherit;
                    font-style: inherit;
                    line-height: inherit;
                    letter-spacing: inherit;
                    text-align: inherit;
                    color: #9d9d9d;
                }
                &:focus {
                    border-color: #000000; 
                }
            }
        }
        .popup-footer {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button {
                width: 239px;
                margin-bottom: 5px;
            }
        }
    }
}