<button class="enviar-notificacao" (click)="controlarPopupEnviarNotificacao()">
    <img src="assets/images/bell.svg" alt="">
    Enviar notificação
</button>

<!-- ******* 	POPUP ENVIAR NOTIFICAÇÃO	******* -->
<div class="container-popup" #popupEnviarNotificacao style="display: none;">
    <div class="popup-enviar-notificacao popup">

        <div class="popup-header">
            <h3>Enviar notificação</h3>
            <button (click)="controlarPopupEnviarNotificacao()">
                <i class="pi pi-times"></i>
            </button>
        </div>

        <div class="popup-body">

            <input class="titulo" maxlength="100" [(ngModel)]="push.titulo"
                placeholder="Digite o título da sua notificação aqui…">
            

            <textarea class="mensagem" maxlength="200" [(ngModel)]="push.mensagem"
                placeholder="Digite a mensagem da sua notificação aqui…">
            </textarea>
            <p>Restam {{ 200 - push?.mensagem?.length }} caracteres</p>

        </div>

        <div class="popup-footer">
            <button class="botao-padrao" (click)="enviarMensagem()">
                ENVIAR
            </button>
        </div>

    </div>
</div>
