<form [formGroup]="loginForm" (submit)="fazerLogin()">

    <div class="input-login">
        <input type="text" formControlName="usuario" placeholder="Usuário">
        <svg xmlns="http://www.w3.org/2000/svg" width="12.372" height="14.139" viewBox="0 0 12.372 14.139">
            <path d="M0 14.139v-3.062a1.754 1.754 0 0 1 .763-1.46 9.82 9.82 0 0 1 10.845 0 1.755 1.755 0 0 1 .764 1.46v3.063zm3.686-8.105a3.535 3.535 0 1 1 2.5 1.035 3.534 3.534 0 0 1-2.5-1.035z" data-name="Union 4"/>
        </svg>            
    </div>

    <div class="input-login">
        <input type="password" formControlName="senha" placeholder="Senha">
        <svg xmlns="http://www.w3.org/2000/svg" width="12.388" height="12.388" viewBox="0 0 12.388 12.388">
            <g data-name="Group 4">
                <path d="M11.22 1.167a3.99 3.99 0 0 0-6.621 4.052l-4.5 4.5a.363.363 0 0 0-.1.252v2.053a.363.363 0 0 0 .363.363h2.054a.363.363 0 0 0 .257-.106l.513-.514a.363.363 0 0 0 .1-.3l-.064-.551.764-.072a.362.362 0 0 0 .327-.327l.072-.764.551.064a.357.357 0 0 0 .283-.089.364.364 0 0 0 .122-.271v-.675h.668a.363.363 0 0 0 .257-.106l.933-.919a3.93 3.93 0 0 0 4.024-.945 4 4 0 0 0-.003-5.645zm-1.027 2.566a1.089 1.089 0 1 1 0-1.54 1.09 1.09 0 0 1 0 1.54z" data-name="Path 30"/>
            </g>
        </svg>
    </div>

    <div class="se-manter">
        <p-checkbox styleClass="checbox-manter" labelStyleClass="checkbox-manter-label" value="S" label="Manter-me conectado" formControlName="seManterLogado"></p-checkbox>
    </div>

    <button type="submit" [disabled]="loginForm.invalid || loginForm.pending">
        ACESSAR
    </button>

    <div class="esqueci-senha">
        <a [routerLink]="['/login/esqueci-minha-senha']">
            Esqueci minha senha
            <i class="pi pi-arrow-right"></i>
        </a>
    </div>

</form>