@require '../../../assets/stylus/vars';

form {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    margin-top: 67px;
    padding: 0 30px;
    +media860() {
        padding: 0 0;
    }
    .se-manter {
        width: 100%;
        margin-bottom: 32px;
    }
    button {
        width: 100%;
        height: 49px;
        border: solid 2px #000000;
        background-color: #ffffff;
        font-family: $fonteOxygen;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        color: #020202;
        margin-bottom: 30px;
        position: relative;
        transition: all .1s ease;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid #000000;
            border-left: 20px solid transparent;
            right: 0;
            bottom: 0;
        }
        &:hover {
            background: #000000;
            color: #ffffff;
            border-color: #ffffff;
            &::after {
                border-bottom: 20px solid #ffffff;
            }
        }
        &[disabled] {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }
    .esqueci-senha {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 135px;
        a {
            display: flex;
            align-items: center;
            font-family: $fonteOxygen;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.08;
            letter-spacing: normal;
            text-align: center;
            color: #888888;
            z-index: 10;
            position: relative;
            i {
                font-size: 12px;
                color: #888888;
                transform: translateX(-20px);
                z-index: 5;
                transition: all .1s ease;
                opacity: 0;
                position: absolute
                right: 0;
            }
            &:hover {
                i {
                    opacity: 1;
                    transform: translateX(15px);
                }
            }
        }
    }
}