<form [formGroup]="esqueciForm" (submit)="esqueciSenha()">

    <div class="titulo-form">
        <h1>Esqueceu sua senha?</h1>
        <p>
            Insira seu e-mail cadastrado e <br>
            receba uma nova senha de acesso.
        </p>
    </div>
    
    <div class="input-login">
        <input type="text" formControlName="email" placeholder="Email de cadastro">
        <svg xmlns="http://www.w3.org/2000/svg" width="14.551" height="10.913" viewBox="0 0 14.551 10.913">
            <g data-name="Group 8">
                <g data-name="Group 7">
                    <path d="M.304.885c2 1.691 5.5 4.667 6.531 5.594a.608.608 0 0 0 .88 0c1.031-.929 4.535-3.9 6.532-5.6a.3.3 0 0 0 .043-.418A1.2 1.2 0 0 0 13.338 0H1.213a1.2 1.2 0 0 0-.951.467.3.3 0 0 0 .042.418z" data-name="Path 31" transform="translate(0 -64) translate(0 64)"/>
                    <path d="M14.375 1.802a.3.3 0 0 0-.323.044C11.837 3.723 9.011 6.13 8.121 6.931a1.228 1.228 0 0 1-1.692 0c-.948-.854-4.122-3.552-5.93-5.085a.3.3 0 0 0-.5.231v7.624a1.214 1.214 0 0 0 1.213 1.213h12.126a1.214 1.214 0 0 0 1.213-1.213V2.077a.3.3 0 0 0-.176-.275z" data-name="Path 32" transform="translate(0 -64) translate(0 64)"/>
                </g>
            </g>
        </svg>
    </div>

    <button #btnEnviar type="submit" [disabled]="esqueciForm.invalid || esqueciForm.pending">
        ENVIAR
    </button>

    <p class="senha-enviada" #senhaEnviada>
        Senha enviada com sucesso!
    </p>

    <div class="voltar-login">
        <a [routerLink]="['/login']">
            <i class="pi pi-arrow-left"></i>
            Voltar para o Login
        </a>
    </div>

</form>