<div class="container-login">
    
    <div class="banner-lateral">
        <div class="engloba-textos">
            <p class="titulo">
                Painel de <br>
                Notificações do <br>
                Aplicativo
            </p>
            <p class="sub-titulo">
                Tudo para sua empresa e escritório.
            </p>
        </div>
    </div>

    <div class="forms-lateral">
        
        <div class="engloba animated fadeInUp">

            <img src="assets/images/logo-dokassa.png" alt="">

            <router-outlet></router-outlet>

            <div class="footer-login">
                <span>NOSSAS REDES SOCIAIS</span>
                <div class="redes-sociais">
                    <a href="https://www.facebook.com/dokassa/" target="_blank">
                        <img src="assets/images/facebook.svg" alt="">
                    </a>
                    <a href="https://www.instagram.com/dokassa/?hl=pt-br" target="_blank">
                        <img src="assets/images/instagram.svg" alt="">
                    </a>
                    <a href="https://www.linkedin.com/company/dokassa-distribuidora/" target="_blank">
                        <img src="assets/images/linkedin.svg" alt="">
                    </a>
                </div>
            </div>
            
        </div>

    </div>
    
</div>

<p-toast key="toast" position="top-right"></p-toast>