@require '../../assets/stylus/vars';

.container-login {
    width: 100%;
    height: auto;
    min-height: 900px;
    display: flex;
    .banner-lateral {
        width: 1364px;
        max-width: 90%;
        display: flex;
        background-image: url('../../assets/images/bg_dokassa.png');
        background-size: cover;
        background-repeat: no-repeat;
        +media768() {
            max-width: 40%;
        }
        +media568() {
            display: none;
        }
        .engloba-textos {
            width: 100%
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 202px 15px;
            +media1080() {
                flex-flow: wrap;
            }
            +media768() {
                align-items: center;
            }
            p {
                &.titulo {
                    font-family: $fonteUnna;
                    font-size: 56px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.21;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    +media1080() {
                        font-size: 46px;
                    }
                    +media768() {
                        font-size: 30px;
                        text-align: center;
                    }
                }
                &.sub-titulo {
                    font-family: $fonteOxygen;
                    font-size: 23px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.09;
                    letter-spacing: normal;
                    text-align: left;
                    color: #000000;
                    margin-left: 40px;
                    +media1080() {
                        margin-left: 0;
                    }
                    +media768() {
                        display: none;
                    }
                }
            }
        }
    }
    .forms-lateral {
        width: 583px;
        box-shadow: -3px 0 18px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        padding: 0 140px;
        padding-top: 194px;
        padding-bottom: 30px !important;
        overflow: hidden;
        +media1600() {
            padding: 0 70px;
            padding-top: 100px;
        }
        +media1280() {
            padding: 0 40px;
            padding-top: 80px;
        }
        .engloba {
            animation-duration: 0.4s;
            animation-delay: 0.2s;
            overflow: hidden;
        }
        .footer-login {
            width: 100%;
            display: flex;
            flex-flow: wrap column;
            align-items: center;
            span {
                font-family: $fonteOxygen;
                font-size: 10px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: center;
                color: #000000;
            }
            .redes-sociais {
                margin-top: 15px;
                margin-bottom: 10px;
                a {
                    &:nth-child(2n) {
                        margin: 0 20px;
                    }
                }
            }
        }
    }
}

