<div class="engloba-side-bar">
    <nav #menuLateral>

        <a class="logo-nav" [routerLink]="['/']">
            <img src="assets/images/icon-dokassa.png" alt="">
        </a>

        <div class="linha-cinza"></div>

        <div class="usuario-logado">
            <img class="foto" [src]="usuario.foto ? usuario.foto.url : 'assets/images/placeholder.png'" alt="">
            {{ usuario.nome }}
            <a (click)="logout()">
                Sair
                <img src="assets/images/logout.svg" alt="">
            </a>
        </div>

    </nav>

    <button class="abrir-menu" (click)="abrirFecharMenu()">
        <i class="pi pi-angle-right"></i>
    </button>

    <div class="fundo-preto" (click)="abrirFecharMenu()" #fundoPreto></div>
</div>
