@require '../../../assets/stylus/vars';

.engloba-side-bar {
    display: flex;
    position: relative;
    +media768() {
        position: absolute;
        width: 100%;
    }
}
nav {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    min-height: 100vh;
    height: auto;
    width: 170px;
    box-shadow: 3px 0 18px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding-top: 50px;
    z-index: 31;
    transition: all .4s ease;
    +media1366() {
        width: 130px;
    }
    +media768() {
        transform: translateX(-200px);
        position: fixed;
        padding-top: 15px;
        &.ativo {
            transform: translateX(0px);
            z-index: 100;
        }
    }
    .logo-nav {
        margin-bottom: 44px;
        +media1366() {
            img {
                height: 85px;
            }
        }
        +media768() {
            margin-bottom: 20px;
        }
        +media480() {
            img {
                height: 60px;
            }
        }
    }
    .linha-cinza {
        width: 110px;
        max-width: 100%;
        height: 4px;
        background: rgba(136, 136, 136, 0.1);
        margin-bottom: 50px;
        +media768() {
            margin-bottom: 20px;
        }
    }
    ul {
        width: 100%;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        a {
            display: flex;
            flex-flow: wrap column;
            align-items: center;
            margin-bottom: 60px;
            font-family: $fonteOpen;
            font-size: 10px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            letter-spacing: normal;
            text-align: center;
            color: #888888;
            svg {
                margin-bottom: 10px;
            }
            +media768() {
                margin-bottom: 30px;
                svg {
                    height: 20px;
                }
            }
            &.ativo {
                color: #000000
                svg {
                    path {
                        fill: #000000 !important;
                    }
                }
            }
            &:hover {
                color: #000000
                svg {
                    path {
                        fill: #000000 !important;
                    }
                }
            }
        }
    }
    .usuario-logado {
        width: 100%;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        font-family: $fonteOpen;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        padding-bottom: 30px;
        +media768() {
            font-size: 16px;
        }
        img {
            &.foto {
                margin-bottom: 10px;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                object-fit: cover;
                +media768() {
                    width: 65px;
                    height: 65px;
                }
            }
        }
        a {
            margin-top: 15px;
            font-family: $fonteOxygen;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
            +media768() {
                font-size: 12px;
                img {
                    height: 10px;
                }
            }
        }
    }
}

.abrir-menu {
    width: 40px;
    height: 40px;
    background: #ffffff;
    position: fixed;
    bottom: 50%;
    border: 1px solid #000;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    z-index: 20;
    display: none;
    i {
        font-size: 2.5em;
    }
    +media768() {
        display: block;
    }
}
.fundo-preto {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 30;
    &.ativo {
        display: block;
    }
}
