@require '../../../assets/stylus/vars';

.engloba-header {
    width: 1000px;
    height 80%;
    max-width 100%;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    dc-barra-pesquisa {
        width: 954px;
        max-width: 95%;
        +media768() {
            max-width: 100%;
        }
    }
}
