@require '../vars';

.dropdown-filtrar-por {
    min-width: 50px;
    .ui-dropdown-label {
        font-family: $fonteOxygen;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
    .ui-dropdown-panel {
        top: 54px !important;
        left: -34px !important;
    }
    .ui-dropdown-items-wrapper {
        background: #ffffff;
        width: 211px;
        .ui-dropdown-list {
            padding: 0;
        }
        .ui-dropdown-item {
            width: 100%;
            height: 70px;
            background: #ffff;
            transition: background .2s ease;
            padding: 0px 20px;
            display: flex;
            align-items: center;
            &:hover {
                background: #000000;
                span {
                    color: #ffffff;
                }
            }
            span {
                font-family: $fonteOxygen;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.56;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
                transition: color .2s ease;
            }
        }
    }
}