@require '../../assets/stylus/vars';

.engloba-sistema {
    width: 100%;
    min-height: 100vh;
    height: auto;
    max-height: 100%;
    background: url('../../assets/images/bg_painel.png') no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: wrap;
    .main-view {
        width: 85%;
        height: auto;
        min-height: 100vh;
        position: relative;
        padding-left: 60px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        +media1366() {
            padding-left: 15px;
        }
        +media1024() {
            padding-left: 10px;
        }
        +media768() {
            width: 100%;
            padding-left: 15px;
            z-index: 15;
        }
        +media480() {
            padding-left: 10px;
        }
    }
}
