<div class="engloba-sistema">

    <dc-side-bar></dc-side-bar>

    <div class="main-view">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>

    <p-toast key="toast" position="top-right" [hideTransitionOptions]="'500ms'"></p-toast>

</div>
